# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Environment
.env
.env.development
.env.production
.env.local
.env.*.local

# Vercel
.vercel
.vercel/*

# Build
.rsbuild
.rsdoctor
*.tsbuildinfo

# Cache
.cache
.temp
*.log
